FinalProject/Final2/Final2/Service References/Bubble/ContactsSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactsSoap" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54201/ContactsSoap.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54201/ContactsSoap.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54201/ContactsSoap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayerForFinal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactsSoap_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_GetPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPeople" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_GetPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_GetEmails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmails" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_GetEmails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_GetPhones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhones" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_GetPhones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_GetAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddresses" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_GetAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_AddEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmail" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_AddEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_AddAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAddress" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_AddAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_AddPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPhone" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_AddPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_RemovePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePerson" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_RemovePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_RemoveEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmail" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_RemoveEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_RemoveAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAddress" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_RemoveAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_RemovePhone_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePhone" />
  </wsdl:message>
  <wsdl:message name="IContactsSoap_RemovePhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePhoneResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactsSoap">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/DoWork" message="tns:IContactsSoap_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/DoWorkResponse" message="tns:IContactsSoap_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/GetPeople" message="tns:IContactsSoap_GetPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/GetPeopleResponse" message="tns:IContactsSoap_GetPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmails">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/GetEmails" message="tns:IContactsSoap_GetEmails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/GetEmailsResponse" message="tns:IContactsSoap_GetEmails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhones">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/GetPhones" message="tns:IContactsSoap_GetPhones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/GetPhonesResponse" message="tns:IContactsSoap_GetPhones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/GetAddresses" message="tns:IContactsSoap_GetAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/GetAddressesResponse" message="tns:IContactsSoap_GetAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/AddPerson" message="tns:IContactsSoap_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/AddPersonResponse" message="tns:IContactsSoap_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/AddEmail" message="tns:IContactsSoap_AddEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/AddEmailResponse" message="tns:IContactsSoap_AddEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/AddAddress" message="tns:IContactsSoap_AddAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/AddAddressResponse" message="tns:IContactsSoap_AddAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/AddPhone" message="tns:IContactsSoap_AddPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/AddPhoneResponse" message="tns:IContactsSoap_AddPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/Save" message="tns:IContactsSoap_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/SaveResponse" message="tns:IContactsSoap_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/RemovePerson" message="tns:IContactsSoap_RemovePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/RemovePersonResponse" message="tns:IContactsSoap_RemovePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/RemoveEmail" message="tns:IContactsSoap_RemoveEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/RemoveEmailResponse" message="tns:IContactsSoap_RemoveEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/RemoveAddress" message="tns:IContactsSoap_RemoveAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/RemoveAddressResponse" message="tns:IContactsSoap_RemoveAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsSoap/RemovePhone" message="tns:IContactsSoap_RemovePhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsSoap/RemovePhoneResponse" message="tns:IContactsSoap_RemovePhone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContactsSoap" type="tns:IContactsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeople">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/GetPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmails">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/GetEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhones">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/GetPhones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/GetAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmail">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/AddEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAddress">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/AddAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/AddPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePerson">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/RemovePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmail">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/RemoveEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAddress">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/RemoveAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePhone">
      <soap:operation soapAction="http://tempuri.org/IContactsSoap/RemovePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactsSoap">
    <wsdl:port name="BasicHttpBinding_IContactsSoap" binding="tns:BasicHttpBinding_IContactsSoap">
      <soap:address location="http://localhost:54201/ContactsSoap.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>